footer.footer {
    font-size: 1.5rem;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 4fr));
    padding: 4rem 12rem;
    background: #3B3B3B;
}
.quicklinks-container ul {
    list-style: none;
}
.quicklinks-container ul li {
    padding: 1rem 2rem;
}
.quicklinks-container ul li a, .quickSocial-container ul li a{
    text-decoration: none;
    color: #FFFDFA;
}
.quickSocial-container ul {
    list-style: none;
    font-size: 2em;
    display: flex;
    gap: 2rem;
}